<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Honey Badgers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="styles1.css" />
  </head>

  <body>
    <div id="nav-float" class="col-12 tabletBelow">
      <header>
        <h5>Honey Badgers</h5>
      </header>

      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
      </nav>
    </div>

    <nav class="col-2 desktopOnly">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </nav>

    <section id="maincontent" class="col-7">
      <p>
        The honey badger (Mellivora capensis), also known as the ratel, is the
        only species in the mustelid subfamily Mellivorinae and its only genus
        Mellivora. It is native to Africa, Southwest Asia, and the Indian
        subcontinent. Despite its name, the honey badger does not closely
        resemble other badger species; instead, it bears more anatomical
        similarities to weasels. It is classed as Least Concern by the IUCN
        owing to its extensive range and general environmental adaptations. It
        is primarily a carnivorous species and has few natural predators because
        of its thick skin and ferocious defensive abilities.
      </p>

      <img src="images/honeybadger.jpg" alt="Honey badger" />

      <p>
        The honey badger has a fairly long body, but is distinctly thick-set and
        broad across the back. Its skin is remarkably loose, and allows it to
        turn and twist freely within it. The skin around the neck is 6mm thick,
        an adaptation to fighting conspecifics. The head is small and flat, with
        a short muzzle. The eyes are small, and the ears are little more than
        ridges on the skin, another possible adaptation to avoiding damage while
        fighting.
      </p>

      <p>
        The honey badger has short and sturdy legs, with five toes on each foot.
        The feet are armed with very strong claws, which are short on the hind
        legs and remarkably long on the forelimbs. It is a partially plantigrade
        animal whose soles are thickly padded and naked up to the wrists. The
        tail is short and is covered in long hairs, save for below the base.
      </p>

      <p>
        Honey badgers are the largest terrestrial mustelids in Africa. Adults
        measure 23-28cm in shoulder height and 55–77cm in body length, with the
        tail adding another 12–30cm. Females are smaller than males. Males weigh
        9-16kg while females weigh 5 to 10kg on average. Skull length is
        13.9–14.5 cm in males and 13cm for females.
      </p>
    </section>

    <section id="extrainfo" class="col-3">
      <h2>Habits</h2>

      <p>
        Although mostly solitary, honey badgers may hunt together in pairs
        during the May breeding season. Little is known of the honey badger's
        breeding habits. Its gestation period is thought to last six months,
        usually resulting in two cubs, which are born blind. They vocalise
        through plaintive whines. Its lifespan in the wild is unknown, though
        captive individuals have been known to live for approximately 24 years.
      </p>

      <h2>Diet</h2>

      <p>
        Next to the wolverine, the honey badger has the least specialised diet
        of the weasel family. In undeveloped areas, honey badgers may hunt at
        any time of the day, though they become nocturnal in places with high
        human populations. When hunting, they trot with their foretoes turned
        in. Honey badgers favour bee honey, and will often search for beehives
        to get it, which earns them their name. They are also carnivorous and
        will eat insects, frogs, tortoises, rodents, turtles, lizards, snakes,
        eggs, and birds. Honey badgers have even been known to chase away young
        lions and take their kills. They will eat fruit and vegetables, such as
        berries, roots and bulbs. Despite popular belief, there is no evidence
        that honeyguides (a bird species that eats bee larvae) guide the honey
        badger.
      </p>
    </section>

    <footer class="col-12">&copy; Honey Badger Supplies 2016</footer>
  </body>
</html>
